<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="Images/PB_Logo.png" href="~/favicon.ico" />
    <title>@ViewBag.Title PasteBook</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="~/Content/Images/PB_Logo.png" alt="PasteBook">
                </a>
                @{ var user = Session["UserName"];

                    if (user != null)
                    {
                        using (Html.BeginForm("Search", "PasteBook"))
                        {
                            <div class="navbar-brand" id="searchBox">
                                @Html.TextBox("Search", null, new { @class = "form-control", id = "inputDefault", placeholder = "Search..", name = "user" })
                            </div>
                            <div class="navbar-brand" id="searchBar">
                                <button type="submit" class="btn-sm btn-default" id="searchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </div>
                        }
                    }
                }
            </div>
            <div class="navbar-collapse collapse  pull-right">
                <ul class="nav navbar-nav">

                    @{ var username = Session["UserName"];
                        if (username != null)
                        {
                            <li>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="notification"><span class="glyphicon glyphicon-globe"><span class="badge" id="notifBadge">@*@Model.NotificationList.Where(x => x.SEEN == "N" && x.NOTIF_TYPE != "F").Count()*@</span></span></a>
                                     
                                            <ul class="dropdown-menu scrollable-menu" role="menu" id="eto">
                                                @{
                                                    Html.RenderAction("NotificationPartialView", "PasteBook");
                                                }
                                            </ul>
                                </div>
                                </li>
                                <li>
                                        <div class="btn-group">
                                            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="Friendnotification"><span class="glyphicon glyphicon-user"><span class="glyphicon glyphicon-user" id="friendNotif"></span><span class="badge" id="friendBadge">@*@Model.NotificationList.Where(x => x.SEEN == "N" && x.NOTIF_TYPE == "F").Count()*@</span></span></a>
                                        
                                                <ul class="dropdown-menu scrollable-menu" role="menu">

                                                    @{
                                                        Html.RenderAction("FriendNotificationPartialView", "PasteBook");
                                                    }
                                                </ul>
                                    </div>
                                </li>
                            <li>@Html.ActionLink("Home", "Index", "PasteBook")</li>
                            <li>@Html.ActionLink("Profile", "Profile", "PasteBook", new { username = username }, null)</li>
                                        }
                    }
                </ul>
                <ul class="nav navbar-nav pull-right margin10top">
                    @{ username = Session["UserName"];
                        if (username != null)
                        {
                            <li class="welcome">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Welcome @username!
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Setting","Account")" id="btnSettings"><span class="glyphicon glyphicon-cog"> </span> Profile Settings</a></li>
                                        <li><a href="@Url.Action("AccountSetting","Account")" id="btnSettings"><span class="glyphicon glyphicon-cog"> </span> Account Settings</a></li>
                                        <li><a href="@Url.Action("SecuritySetting","Account")" id="btnSettings"><span class="glyphicon glyphicon-cog"> </span> Security Settings</a></li>
                                        <li><a href="@Url.Action("LoginPage", "Account")" id="btnLogout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "LoginPage", "Account")</li>
                            <li>@Html.ActionLink("Register", "Index", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    <script>
        var acceptFriendUrl = '@Url.Action("AcceptFriend", "PasteBook")';
        var seenNotiUrl = '@Url.Action("SeenNotification", "PasteBook")';
        var friendNotiUrl = '@Url.Action("FriendNotificationPartialView", "PasteBook")';
        var notificationUrl = '@Url.Action("NotificationPartialView", "PasteBook")';
        var notificationCounturl = '@Url.Action("CountNotification", "PasteBook")'

        var ID = @Session["ID"];
    </script>
    <script>


        $(document).on('click', '#notification', function () {
            var data = {
                "userID" : ID,
                "type" : "C"
            }
            $.ajax({
                url: seenNotiUrl,
                data: data,
                type: 'POST',
                success: function (data) {
                   SeenSuccess(data);
                },
                error: function () {
                    alert('Something went wrong')
                }
            })
            function SeenSuccess(data) {
                //if (data.result == 1) {
                //    $(document).trigger('ready');
                //    $("#NotiPartialView").load(url);
                //    $("#eto").toggleClass('visible');
                //}
            }
        })

        $(document).on('click', '#Friendnotification', function () {
            var data = {
                "userID" : ID,
                "type" : "F"
            }
            $.ajax({
                url: seenNotiUrl,
                data: data,
                type: 'POST',
                success: function (data) {
                    SeenFSuccess(data);
                },
                error: function () {
                    alert('Something went wrong')
                }
            })
            function SeenFSuccess(data) {
                //if (data.result == 1) {
                //    $(document).trigger('ready');
                //    $("#NotiPartialView").load(url);

                //}
                //$("#NotiPartialView").load(url);
            }
        })
        var ID = @Session["ID"];
        if (ID != null) 
        {
            setInterval( GetCount
              , 1000)

            setInterval( GetFriendCount
              , 1000)
        }
    

        function GetCount(){
            var data = {
                "ID" : ID,
                "type" : "C"
            }
            $.ajax({
                url: notificationCounturl,
                data: data,
                type: 'POST',
                success: function (data) {
                    $('#notifBadge').text(data.result);
                },
                error: function () {
                    //alert('Something went wrong')
                }
            })
        }

        function GetFriendCount(){
            var data = {
                "ID" : ID,
                "type" : "F"
            }
            $.ajax({
                url: notificationCounturl,
                data: data,
                type: 'POST',
                success: function (data) {
                    $('#friendBadge').text(data.result);
                },
                error: function () {
                    //alert('Something went wrong')
                }
            })
        }


        $(document).on('click', '#Friendnotification', function () {
            $("#FriendNotiPartialView").load(friendNotiUrl);
        })

        $(document).on('click', '#notification', function () {
            $("#eto").load('@Url.Action("NotificationPartialView", "PasteBook")');
        })



            var LogoutUrl = '@Url.Action("Logout","Account")';
            $('#btnLogout').on('click', function () {
                $.ajax({
                    url: LogoutUrl,
                    success: function () {
                        $(location).attr('href', IndexUrl);
                    },
                    error: function () {
                        alert("Something went wrong");
                    }
                });
            });


    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
