<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="Images/PB_Logo.png" href="~/favicon.ico" />
    <title>@ViewBag.Title PasteBook</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="~/Content/Images/PB_Logo.png" alt="PasteBook">
                </a>
                @{ var user = Session["UserName"];

                    if (user != null)
                    {
                        using (Html.BeginForm("Search", "PasteBook"))
                        {
                            <div class="navbar-brand" id="searchBox">
                                @Html.TextBox("Search", null, new { @class = "form-control", id = "inputDefault", placeholder = "Search..", name = "user" })

                            </div>

                            <div class="navbar-brand" id="searchBar">
                                <button type="submit" class="btn-sm btn-default" id="searchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                                @*  <a href="@Url.Action("Search", "PasteBook",new { name = Search })" class="btn btn-default" id="searchButton"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>*@
                            </div>
                        }

                    }

                }
            </div>
            <div class="navbar-collapse collapse  pull-right">
                <ul class="nav navbar-nav">

                    @{ var username = Session["UserName"];
                        if (username != null)
                        {
                            <li>
                                <div id="NotiPartialView">
                                    @{
                                        Html.RenderAction("NotificationPartialView", "PasteBook");
                                    }
                                </div>
                            </li>
                            <li>@Html.ActionLink("Home", "Index", "PasteBook")</li>
                            <li>@Html.ActionLink("Profile", "Profile", "PasteBook", new { username = username }, null)</li>
                                        }
                    }
                </ul>
                <ul class="nav navbar-nav pull-right margin10top">
                    @{ username = Session["UserName"];
                        if (username != null)
                        {
                            <li class="welcome">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        Welcome @username!
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("Setting","PasteBook")" id="btnSettings"><span class="glyphicon glyphicon-cog" aria-hidden="true"> </span> Settings</a></li>
                                        <li><a href="@Url.Action("LoginPage", "Account")" id="btnLogout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "LoginPage", "Account")</li>
                            <li>@Html.ActionLink("Register", "Index", "Account")</li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var acceptFriendUrl = '@Url.Action("AcceptFriend", "PasteBook")';
    </script>
    <script>


        //$(document).on('click', '.btnAcceptRequest', function () {
        //    var data = {
        //        "friendID": this.value,
        //        "Receiver_ID": $('#posterID').attr('value')
        //        //"Liked_By": ID,
        //        //"ID" : null
        //    }

        //    $.ajax({
        //        url: likePostUrl,
        //        data: data,
        //        type: 'POST',
        //        success: function (data) {
        //            LikeSuccess(data);
        //        },
        //        error: function () {
        //            alert('Something went wrong')
        //        }
        //    })
        //    function LikeSuccess(data) {
        //        $(document).trigger('ready');
        //        $("#homePartial").load(homePageUrl);
        //    }
        //})





        @*var url = '@Url.Action("NotificationPartialView", "PasteBook")'
        $(function () {
            setInterval(function () { $('#NotiPartialView').load(url); }, 2000);
        });*@



        var LogoutUrl = '@Url.Action("Logout","Account")';
        $('#btnLogout').on('click', function () {
            $.ajax({
                url: LogoutUrl,
                success: function () {
                    $(location).attr('href', IndexUrl);
                },
                error: function () {
                    alert("Something went wrong");
                }
            });
        });
    </script>
</body>
</html>
