@model ViewModel

@using (Html.BeginForm("Profile", "PasteBook", FormMethod.Post))
            {
    <div id="Friend">
        @foreach (var item in Model.FriendList)
        {
            if (item.User_ID == (int)Session["ID"] && item.Request == "Y")
                    {
                <div class="well" id="friendList">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/Content/Images/default.png" />
                        </div>
                        <div class="col-md-6">
                            @Html.Label(@item.Friend_Name.ToString())
                            <div class="cold-md-3">
                                @Html.ActionLink("View Profile", "Profile", "PasteBook", new { username = @item.Friend_Username }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (item.Friend_ID == (int)Session["ID"] && item.Request == "Y")
            {
                <div class="well" id="friendList">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="~/Content/Images/default.png" />
                        </div>
                        <div class="col-md-6">
                            @Html.Label(@item.User_FullName.ToString())
                            <div class="cold-md-3">
                                @Html.ActionLink("View Profile", "Profile", "PasteBook", new { username = @item.User_UserName }, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="well">
            Pending Request
            @foreach (var item in Model.FriendList)
            {
                if (item.User_ID == (int)Session["ID"] && item.Request == "N")
                {
                    <img src="~/Content/Images/default.png" />
                                    @Html.Label(@item.Friend_Name.ToString())
                                    @Html.ActionLink("Profile", "Profile", "PasteBook", new { username = @item.Friend_Username }, new { @class = "btn btn-primary" })
                }
            }

        </div>

    </div>
}
