<div class="container" id="PostContainer">
    <div class="well" id="newsFeed">
        <div class="row">
            <div class="col-md-3">
                <img src="~/Content/Images/default.png" id="imgOwner" />
            </div>

            <div class="col-md-9">
                @Html.TextArea("Content", new { rows = 4, columns = 40, id = "textAreaPost", @class = "form-control" })
                <button class="btn btn-primary pull-right" id="post">Post</button>
            </div>

        </div>
    </div>
    <div id="homePartial">
        @{
            Html.RenderAction("HomePartialView", "PasteBook",new { ID = @Session["ID"]});
        }
    </div>
</div>

@section scripts{
    <script>
        var addPostUrl = '@Url.Action("AddPost", "PasteBook")';
        var likePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var homePageUrl = '@Url.Action("HomePartialView","PasteBook",new {ID = Session["ID"] })';
        var ID = @Session["ID"];
    </script>
    <script src="~/Scripts/Profile.js"></script>
}
