@model UserActionViewModel


        @if (Model.NotificationList != null)
        {
            foreach (var item in Model.NotificationList)
            {
                if (item.NOTIF_TYPE == "L")
                {
                    <li><a href="@Url.Action("Post", "PasteBook",new { PostID = @item.POST_ID})">@Html.Raw(item.PB_USER1.FIRST_NAME+ " "+ item.PB_USER1.LAST_NAME+" liked your post.")</a></li>
                }
                else if (item.NOTIF_TYPE == "C")
                {
                    <li><a href="@Url.Action("Post", "PasteBook",new { PostID = @item.POST_ID})"> @Html.Raw(item.PB_USER1.FIRST_NAME + " "+item.PB_USER1.LAST_NAME + " has commented on your post.") </a>  </li>
                }
            }
        }
        else
        {
            <li> <a href="#"> @Html.DisplayName("No recent Notification")</a> </li>
                    @Html.DisplayName("No recent Notification")
        }
        <li class="divider"></li>
        <li><a href="#">Clear</a></li>




