@model DataAccess.PB_POST

<div class="well" id="newsFeedPost">
    <div class="pull-right"> @Model.CREATED_DATE.ToString("MMMM dd, yyyy hh:mm tt") </div>

    @Html.Hidden("postID", @Model.ID, new { id = "specificPostID" })
    @Html.Hidden("PosterID", @Model.POSTER_ID, new { id = "posterID" })
    
    @if (Model.POSTER_ID == Model.PROFILE_OWNER_ID)
    {
        <div>
            @Html.Label(@Model.PB_USER.FIRST_NAME) @Html.Label(@Model.PB_USER.LAST_NAME)
        </div>
    }
    else
    {
        <div>
            @Html.Label(@Model.PB_USER.FIRST_NAME) @Html.Label(@Model.PB_USER.LAST_NAME)> @Html.Label(@Model.PB_USER1.FIRST_NAME) @Html.Label(@Model.PB_USER1.LAST_NAME)
        </div>
    }
    <div>
        @Model.CONTENT
    </div>

    <div>
        <div id="commentField">

            @Html.TextArea("Message", new { rows = 2, columns = 40, @class = "textAreaComment form-control", id = "commentArea", value = @Model.ID, placeholder = "Write a comment.." })
        </div>


        <button data-toggle="popover" title="Liked By:" data-trigger="hover" class="likeList btn-sm btn-default" data-content="@foreach (var like in Model.PB_LIKE)
	{
		@like.PB_USER.FIRST_NAME @like.PB_USER.LAST_NAME @Html.DisplayName(", ")
	}">
            @Model.PB_LIKE.Count()
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </button>

        @if (Model.PB_LIKE.Any(x => x.LIKED_BY == (int)Session["ID"]))
            {


            <button class="unlikeButton btn-sm btn-success" value=@Model.PB_LIKE.Where(x=>x.LIKED_BY == (int)Session["ID"]).FirstOrDefault().ID><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>Unlike</button>
        }
        else
        {
            <button class="likeButton btn-sm btn-primary" value=@Model.ID><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like</button>
        }

        <button class="CommentButton btn-sm btn-primary" value=@Model.ID><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Comment</button><br />
        @Html.Label("Comment List")
        @foreach (var comment in Model.PB_COMMENT)
        {
            <div>
                <div>
                    @Html.DisplayName(@comment.PB_USER.FIRST_NAME) @Html.DisplayName(@comment.PB_USER.LAST_NAME)
                </div>
                <div>
                    @Html.DisplayName(@comment.CONTENT)
                </div>
            </div>
        }
    </div>
</div>


@section scripts{
    <script>
        var addCommentUrl = '@Url.Action("AddComment", "PasteBook")';
        var likePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var unlikePostUrl = '@Url.Action("UnlikePost", "PasteBook")';
        var ID = @Session["ID"];
        var homePageUrl = '@Url.Action("Post","PasteBook",new {postID = @Model.ID})';
    </script>
   

    <script src="~/Scripts/Post.js"></script>
}
