@model PasteBook.ProfileViewModel


<div class="container" id="profile">
    <div class="row">
        <div class="col-md-4">
            <div class="well" id="imageProfile">
                @*Source:http://stackoverflow.com/questions/17952514/mvc-how-to-display-a-byte-array-image-from-model*@
                @if (Model.UserModel.PROFILE_PIC == null)
                {
                    <img src="~/Content/Images/default.png" id="defProfilePicture">
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.UserModel.PROFILE_PIC);
                    var profilePicture = String.Format("data:image/gif;base64,{0}", base64);

                    <img src="@profilePicture" id="ownerProfilePicture" />
                }

                @if (Model.UserModel.USER_NAME == (string)Session["UserName"])
                {
                    <a href="#" class="btn btn-link" data-toggle="modal" data-target="#profilePicture">Edit Profile Picture</a>
                }

            </div>
            <div class="well">
                <p>
                    @Html.Label("Fullname:")
                    @Html.DisplayFor(x => x.UserModel.FIRST_NAME) @Html.DisplayFor(x => x.UserModel.LAST_NAME)
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.USER_NAME):
                    @Html.DisplayFor(x => x.UserModel.USER_NAME)
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.EMAIL_ADDRESS):
                    @Html.DisplayFor(x => x.UserModel.EMAIL_ADDRESS)
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.MOBILE_NO):
                    @Html.DisplayFor(x => x.UserModel.MOBILE_NO)
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.BIRTHDAY):
                    @Html.DisplayFor(x => x.UserModel.BIRTHDAY)
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.GENDER):
                    @if (Model.UserModel.GENDER == "F")
                    {
                        @Html.DisplayName("Female")
                    }
                    else if (Model.UserModel.GENDER == "M")
                    {
                        @Html.DisplayName("Male")
                    }
                    else
                    {
                        @Html.DisplayName("Undefined")
                    }
                </p>
                <p>
                    @Html.LabelFor(x => x.UserModel.COUNTRY_ID):
                    @Html.DisplayFor(x => x.UserModel.REF_COUNTRY.COUNTRY)
                    @Html.HiddenFor(x => x.UserModel.ID, new { id = "user_id" })
                </p>
            </div>
            <div class="well">
                @Html.Label("About Me")
                <div class="well">
                    @if (Model.UserModel.ABOUT_ME != null && Model.UserModel.USER_NAME == (string)Session["UserName"])
                    {
                        <a href="#modal" class="btn btn-link" data-toggle="modal" data-target="#editAboutMe" id="editButton"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit About me"></span></a>
                        <div class="aboutMeContent">
                            @Html.DisplayFor(x => x.UserModel.ABOUT_ME)
                        </div>
                    }
                    else if (Model.UserModel.USER_NAME == (string)Session["UserName"])
                    {
                        <a href="#modal" class="btn btn-link" data-toggle="modal" data-target="#editAboutMe" id="editButton"><span class="glyphicon glyphicon-edit" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Edit About me"></span></a>

                        @Html.DisplayName("(Add information about you!)")
                    }
                    else
                    { 
                         <div class="aboutMeContent">
                        @Html.DisplayFor(x => x.UserModel.ABOUT_ME)
                    </div>
                        }
                    </div>
            </div>
        </div>


        <div class="col-md-7">
            <div class="well">
           <div id="profileFriendHeader">
               @{
                   Html.RenderAction("ProfileHeaderPartialView", "PasteBook", new { username = Model.UserModel.USER_NAME});
               }
           </div>

                <div class="well">
                    @Html.TextArea("Content", new { rows = 4, columns = 40, id = "textAreaPost", @class = "form-control", placeholder = "Say something..." })
                    <button class="btn btn-primary pull-right" id="post">Post</button>

                </div>
            </div>

            <div id="homePartial">
                @{
                    Html.RenderAction("HomePartialView", "PasteBook", new { ID = Model.UserModel.ID, Page = "Profile" });
                }
            </div>
        </div>
    </div>
</div>


<div class="modal" id="editAboutMe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">About Me</h4>
            </div>
            <div class="modal-body">

                <textarea class="form-control" cols="10" rows="3" id="aboutMetextArea"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="aboutMebtn">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="profilePicture">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Profile Picture</h4>
            </div>
            @using (Html.BeginForm("EditProfilePicture", "PasteBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <img src="~/Content/Images/default.png" id="previewImage" />
                    <input type="file" name="file" accept="image/*" id="fileButton" class="btn-primary" />
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>



@section scripts{
    <script>
        var addFriendUrl = '@Url.Action("AddFriend", "PasteBook")';
        var addPostUrl = '@Url.Action("AddPost", "PasteBook")';
        var addCommentUrl = '@Url.Action("AddComment", "PasteBook")';
        var likePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var unlikePostUrl = '@Url.Action("UnlikePost", "PasteBook")';
        var homePageUrl = '@Url.Action("HomePartialView","PasteBook",new {ID = Model.UserModel.ID , Page="Profile"})';
        var headerProfileUrl = '@Url.Action("ProfileHeaderPartialView","PasteBook",new {username = Model.UserModel.USER_NAME})';
        var editAboutMe = '@Url.Action("EditAboutMe","PasteBook")';
        var profilePageUrl = '@Url.Action("Profile", "PasteBook",new { username= Session["UserName"]})';
        var acceptFriendUrl = '@Url.Action("AcceptFriend","PasteBook")';
        var rejectFriendUrl = '@Url.Action("RejectFriend","PasteBook")';
        var ID = @Session["ID"];
    </script>
    <script src="~/Scripts/Profile.js"></script>
    <script>
        
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
